.heading{
    color: yellow;
    background-color:aqua;
.font-style{
        font-size: 80px;
    }

}
.heading {
    color: yellow;
    background-color: aqua;
    font-size: 80px;
}

.font-style {
    font-style: italic;
}
